div.darkTable {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #295985;
    height: 100%;
    text-align: left;
  }
  .divTable.darkTable .divTableCell, .divTable.darkTable .divTableHead {
    border: 1px solid #282c34;
    padding: 3px 2px;
  }
  .divTable.darkTable .divTableBody .divTableCell {
    font-size: calc(10px + 2vmin);
    color: #E6E6E6;
  }
  .divTable.darkTable .divTableRow:nth-child(even) {
    background: #040643;
  }
  .darkTable .tableFootStyle {
    font-size: calc(10px + 2vmin);
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}